body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif, Arial;
}



.header {
display: flex;
color: white;
background-color: black;
justify-content: space-between;
padding: 0 50px 0 50px;
align-items: center;
}

.header-links {
display: flex;
gap: 20px;
font-size: 20px;
}

ul {
    list-style: none;
}

.content {
    display: flex-wrap; 
    background-color: black;    
}

.sign-up {
display: flex;
justify-content: center;
align-items: center;
}

.sign-up-text {
    color: white;
    width: 500px;
    padding-right: 50px;
    text-align: center;
}



.sign-up img {
    border-radius: 10px;
    padding-top: 25px
}

.sign-up-text button {
    color: white;
    background-color: black;
    border-color: white;
}

.info {
    border-top-style: groove;
    border-top-color: white;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.info .info-cards {
    display:flex;
    background-color: black;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    justify-content: center;
    
}


.card {
    color: white;
    margin: 50px;
}

.info h2 {
color: white;
text-align: center;
display: inline-flex;
}

.info-cards {
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: black;
    gap: 8px;
}


.quote {
    color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-top-style: groove;
border-top-color: white;
padding: 80px 0 80px 0;
}

.quote .quote-text {
width: 500px;
}



